*{
    margin: 0;
    padding: 0%;
}

:root{
    --verde: rgb(5, 173, 103);
}

main{
    display: flex;
    background-color: rgb(23, 23, 23);
    color: white;
}

#principal{
    width: 80%;
    margin: 0% 2%;
}

aside{
    background-color: rgb(30, 48, 73);
    text-align: center;
    width: 20%;
    height: 100vh;
    border-right: 5px solid rgb(60, 93, 139);
}

#eu{
    width: 36%;
    height: calc(100% - 783px);
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

#Introducao{
    margin-top: 2%;
    margin-bottom: 3%;
    margin: 2% 3% 3% 3%;
    font-size: 90%;
}

span{
    color: var(--verde);
}

#bemvindo{
    font-size: 105%;
}

#redes-sociais{
    margin-top: 2%;
    margin-bottom: 4%;
    margin: 2% 30% 4% 30%;
    display: flex;
    justify-content: space-evenly;
}

.redesocial{
    width: 20%;
}

#linha-aside{
    margin: 0% 2%;
}

#meu-email{
    margin: 3%;
    display: flex;
    justify-content: center;
}

#icon-email{
    margin-right: 1%;
    width: 6%;
}

#Titulo{
    margin-top: 2%;
    font-size: 220%;
}

#Subtitulo{
    font-size: 140%;
    margin: 1% 0%;
    color: var(--verde);
}

.Lingua{
    margin-bottom: 0.3%;
    color: rgb(255, 255, 255);
}

.meu-resumo{
    margin-bottom: 0.5%;
}

#Ver-Projetos{
    padding: 0.7% 0%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--verde);
    border-radius: 3px;
    border: none;
    margin: 1% 0%;
    cursor: pointer;
    color: white;
}

#Ver-Projetos:hover{
    background-color: black;
}

#compartilhar{
    width: 15%;
}

a{
    text-decoration: none;
}

#Skills{
    margin: 1% 0%;
}

#Conheca{
    margin-bottom: 1%;
}

#habilidades{
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
}

.Categoria_Skills{
    width: 33.2%;
}

.Titulo_Skills{
    margin-bottom: 3%;
    padding-left: 1%;
    border-left: 5px solid var(--verde);
}

i{
    font-size: 210%;
}

.imgskills{
    width: 8%;
    margin: 0%;
}