*{
    margin: 0;
    padding: 0%;
}

:root{
    --verde: rgb(5, 173, 103);
}

main{
    background-color: rgb(23, 23, 23);
    color: white;
    display: grid;
    grid-template-columns: 20% 5% 70% 5%;
    grid-template-rows: 100%;
}

#principal{
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
}

aside{
    background-color: rgb(30, 48, 73);
    text-align: center;
    width: 100%;
    height: 100vh;
    border-right: 5px solid rgb(60, 93, 139);
    grid-column: 1 / 2;
}

#meu-nome{
    font-size: 1.6vw;
}

#eu{
    width: 36%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

#Introducao{
    margin-top: 2%;
    margin-bottom: 3%;
    margin: 2% 3% 3% 3%;
    font-size: 0.75vw;
}

span{
    color: var(--verde);
}

.bemvindo{
    font-size: 0.9vw;
}

#redes-sociais{
    margin-top: 2%;
    margin-bottom: 4%;
    margin: 2% 30% 4% 30%;
    display: flex;
    justify-content: space-evenly;
}

.redesocial{
    width: 20%;
}

#linha-aside{
    margin: 0% 2%;
}

#meu-email{
    margin: 3%;
    display: flex;
    justify-content: center;
}

#email{
    font-size: 0.85vw;
}

#icon-email{
    margin-right: 1%;
    width: 6%;
}

#Titulo{
    margin-top: 2%;
    font-size: 2.3vw;
}

#Subtitulo{
    font-size: 1.5vw;
    margin: 1% 0%;
    color: var(--verde);
}

.Lingua{
    margin-bottom: 0.3%;
    color: rgb(255, 255, 255);
    font-size: 1.25vw;
}

.meu-resumo{
    margin-bottom: 0.5%;
    font-size: 1.1vw;
}

#Ver-Projetos{
    padding: 0.7% 0%;
    width: 12%;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--verde);
    border-radius: 3px;
    border: none;
    margin: 1.5% 0%;
    cursor: pointer;
    color: white;
}

#Ver-Projetos:hover{
    background-color: black;
}

#compartilhar{
    width: 15%;
}

a{
    text-decoration: none;
}

#Skills{
    margin: 1% 0%;
    font-size: 1.6vw;
}

#Conheca{
    margin-bottom: 1%;
    font-size: 1.1vw;
}

#habilidades{
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
}

.Categoria_Skills{
    width: 33.2%;
}

.Titulo_Skills{
    margin-bottom: 3%;
    padding-left: 1%;
    border-left: 5px solid var(--verde);
    font-size: 1.25vw;
}

i{
    font-size: 1.8vw;
}

.imgskills{
    width: 8%;
    margin: 0%;
}

@media screen and (max-width: 600px) {
    body, html{
        background-color: rgb(23, 23, 23);
    }
    
    main{
        grid-template-columns: 100%;
        grid-template-rows: 40% 1fr;
    }

    aside{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgb(30, 48, 73);
        text-align: center;
        width: 100%;
        height: 100vw;
        border-bottom: 5px solid rgb(60, 93, 139);
        border-right: none;
    }

    #meu-nome{
        font-size: 6vw;
        margin-bottom: 2%;
    }

    #Introducao{
        margin-top: 2%;
        margin-bottom: 3%;
        margin: 2% 3% 3% 3%;
        font-size: 3.3vw;
    }

    .bemvindo{
        font-size: 4vw;
        display: inline-block;
    }

    #redes-sociais{
        margin-top: 2%;
        margin-bottom: 4%;
        margin: 2% 30% 4% 30%;
        display: flex;
        justify-content: space-evenly;
    }

    #linha-aside{
        margin: 0% 4%;
    }

    #meu-email{
        margin: 4%;
        display: flex;
        justify-content: center;
    }

    #email{
        font-size: 4vw;
    } 
    
    #principal{
        grid-column: 1/1;
        grid-row: 2/3;
        margin-top: 0%;
        height: 110vh;
    }

    #Titulo{
        margin-top: 0%;
        font-size: 7vw;
        text-align: center;
    }

    #Subtitulo{
        font-size: 4.5vw;
        margin: 1% 0%;
        margin-bottom: 2%;
        color: var(--verde);
        text-align: center;
    }

    .Lingua{
        margin: 0% 3.5%;
        margin-bottom: 0.3%;
        color: rgb(255, 255, 255);
        font-size: 4vw;
    }

    .meu-resumo{
        margin: 0% 4%;
        margin-bottom: 1%;
        font-size: 3vw;
        letter-spacing: 0.1vw;
    }

    #Ver-Projetos{
        padding: 0.7% 0%;
        width: 25%;
        font-size: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: var(--verde);
        border-radius: 5px;
        border: none;
        margin: 1.5% 0%;
        cursor: pointer;
        color: white;
    }

    #teste{
        display: flex;
        justify-content: center;
    }

    #Ver-Projetos:hover{
        background-color: var(--verde);
    }

    #Skills{
        margin: 1% 0%;
        font-size: 5vw;
        text-align: center;  
    }

    #Conheca{
        margin-bottom: 1%;
        font-size: 4vw;
        text-align: center;
    }

    #habilidades{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0% 4%;
    }

    .Categoria_Skills{
        width: 50%;
        margin-bottom: 3%;
    }

    .Titulo_Skills{
        margin-bottom: 3%;
        padding-left: 1%;
        border-left: 1vw solid var(--verde);
        font-size: 4vw;
    }

    i{
        font-size: 8vw;
    }

    .imgskills{
        width: 17%;
        margin: 0%;
    }
}